.fr {
  &__bar {
    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 10px 20px 20px;
      background-color: #fff;
      border-radius: 0 0 5px 5px;
      div {
        min-height: 40px;
        font-size: 14px;
        width: 100%;
      }
      &-el {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 40px;
        max-width: 40px;
        height: 40px;
        justify-content: center;
        border: 1px solid #e3e3e3;
        box-sizing: border-box;
        border-radius: 5px;
      }
    }
  }
  &__fixed {
    &-img {
      background-color: #fff;
      position: fixed;
      transform: translateZ(-2px);
      width: 100%;
      height: 420px;
      z-index: -2;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: #c4c4c4;
    }
  }
  &__left {
    &-inner {
      min-width: 280px;
      margin-right: 20px;
    }
    &-online {
      margin-bottom: 10px;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(17px);
      border-radius: 5px;
      padding: 1px 9px;
      &-inner {
        display: flex;
        align-items: center;
      }
      span {
        color: #fff;
      }
    }
    &-logo {
      background: #ffffff;
      box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.06);
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
    }
    &-logo {
      &-img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 270px;
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.4);
        margin-bottom: 20px;
      }
      &-texts {
        p {
          color: #353535;
          font-size: 20px;
          line-height: 110%;
          margin-bottom: 10px;
        }
        span {
          color: #7c7474;
          font-size: 13px;
          line-height: 120%;
          span {
          }
        }
      }
    }
  }
  &__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &-top {
      margin-top: 30px;
      height: 250px;
    }
    &-bottom {
    }
    &-loc {
      width: 280px;
      min-height: 110px;
      background-color: rgba($color: #fff, $alpha: 0.2);
      backdrop-filter: blur(15px);
      border-radius: 5px;
      padding: 10px;

      &-flag {
        position: absolute;
        filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
        border-radius: 5px;
        width: 60px;
        height: 40px;
        left: -30px;
        svg {
          filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
          border-radius: 5px;
        }
      }
      &-weather {
        position: absolute;
        top: 15px;
        right: 20px;
      }
      &-num {
        color: #ffffff;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 7px;
        p {
          font-size: 45px;
          letter-spacing: -0.06em;
          line-height: 140%;
          font-weight: 400;
          margin-right: 6px;
        }
        span {
          margin-top: 5px;
          position: relative;
          font-weight: 500;
          font-size: 17px;
          line-height: 140%;
          &::before {
            content: '';
            position: absolute;
            border: 1px solid #ffffff;
            box-sizing: border-box;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            top: -3px;
            left: -3px;
          }
        }
      }
      &-bottom {
        display: flex;
        align-items: center;
      }
      &-date {
        background: rgba($color: #ffffff, $alpha: 0.3);
        border-radius: 50px;
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        padding: 2px 4px;
        margin-right: 10px;
        color: #fff;
      }
      &-loc {
        font-size: 14px;
        line-height: 140%;
        color: #fff;
        span {
        }
      }
    }
  }
  &__poi {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__none {
    &-title {
      font-weight: 500;
      font-size: 13px;
      line-height: 110%;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  &__top {
    &-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background: #ffffff;
      margin-bottom: 20px;
      border-radius: 5px;
      &-left {
        display: flex;
        align-items: center;
      }
      &-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 10px;
      }
      &-text {
        font-weight: normal;
        color: #7c7474;
      }
      &-right {
        display: flex;
      }
    }
    &-fdf {
    }
  }
}

.fr__main {
  .main {
    max-width: 880px;
    margin-left: 20px;
    width: 100%;

    &__post {
      // border-radius: 5px;
      border-radius: 0 0 5px 5px;
      background-color: #fff;
      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
      }
      &-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        &-img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: #b6b6b6;
          margin-right: 10px;
        }
        &-texts {
          p {
            margin-bottom: 5px;
            font-size: 14px;
            line-height: 110%;
            font-weight: 500;
          }
          span {
            font-weight: 500;
            font-size: 12px;
            line-height: 110%;
            display: block;
            color: #adadad;
          }
        }
      }
      &-dots {
        cursor: pointer;
        padding: 10px;
        margin: -10px;
        img {
        }
      }
      &-title {
        padding: 0 20px;
        font-size: 13px;
        line-height: 140%;
        padding-bottom: 10px;
      }
      &-media {
        height: 500px;
        background-color: #b6b6b6;
      }
      &-subtitle {
        font-weight: 500;
        font-size: 13px;
        line-height: 120%;
        padding: 10px 20px 20px 20px;
      }
      &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        margin: 0 20px;
        border-top: 1px solid #f2f2f2;
      }
      &-comm {
        display: flex;
        align-items: center;
        justify-content: center;
        &-l {
          cursor: pointer;
          margin-right: 40px;
          img {
          }
        }
        &-r {
          cursor: pointer;
          img {
          }
        }
      }
      &-share {
        cursor: pointer;
        img {
        }
      }
    }
  }
}

.f_list__inn-soc-small {
  &:hover {
    &::after {
      opacity: 1;
      z-index: 1;
      transition: 0.4s;
    }
    b {
      opacity: 1;
      z-index: 1;
    }
  }
  &::after {
    top: -18px;
    // opacity: 1;
    left: 12px;
  }
  b {
    top: -40px;
    // opacity: 1;
    left: -47px;
    span {
      border-radius: 5px;
      padding: 7px 10px;
      font-size: 12px;
    }
  }
}
