.fr {
  &__bar {
    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 10px 20px 20px;
      background-color: #fff;
      border-radius: 0 0 5px 5px;
      div {
        min-height: 40px;
        font-size: 14px;
        width: 100%;
      }
      &-el {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 40px;
        max-width: 40px;
        height: 40px;
        justify-content: center;
        border: 1px solid #e3e3e3;
        box-sizing: border-box;
        border-radius: 5px;
      }
    }
  }
  &__fixed {
    &-img {
      background-color: #fff;
      position: fixed;
      transform: translateZ(-2px);
      width: 100%;
      height: 420px;
      z-index: -2;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: #c4c4c4;
    }
  }
  &__left {
    &-inner {
      min-width: 280px;
      margin-right: 20px;
    }
    &-online {
      margin-bottom: 10px;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(17px);
      border-radius: 5px;
      padding: 1px 9px;
      &-inner {
        display: flex;
        align-items: center;
      }
      span {
        color: #fff;
      }
    }
    &-logo {
      background: #ffffff;
      box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.06);
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
    }
    &-logo {
      &-img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 270px;
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.4);
        margin-bottom: 20px;
      }
      &-texts {
        p {
          color: #353535;
          font-size: 20px;
          line-height: 110%;
          margin-bottom: 10px;
        }
        span {
          color: #7c7474;
          font-size: 13px;
          line-height: 120%;
          span {
          }
        }
      }
    }
  }
  &__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &-top {
      margin-top: 30px;
      height: 250px;
    }
    &-bottom {
    }
    &-loc {
      width: 280px;
      min-height: 110px;
      background-color: rgba($color: #fff, $alpha: 0.2);
      backdrop-filter: blur(15px);
      border-radius: 5px;
      padding: 10px;

      &-flag {
        position: absolute;
        filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
        border-radius: 5px;
        width: 60px;
        height: 40px;
        left: -30px;
        svg {
          filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
          border-radius: 5px;
        }
      }
      &-weather {
        position: absolute;
        top: 15px;
        right: 20px;
      }
      &-num {
        color: #ffffff;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 7px;
        p {
          font-size: 45px;
          letter-spacing: -0.06em;
          line-height: 140%;
          font-weight: 400;
          margin-right: 6px;
        }
        span {
          margin-top: 5px;
          position: relative;
          font-weight: 500;
          font-size: 17px;
          line-height: 140%;
          &::before {
            content: '';
            position: absolute;
            border: 1px solid #ffffff;
            box-sizing: border-box;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            top: -3px;
            left: -3px;
          }
        }
      }
      &-bottom {
        display: flex;
        align-items: center;
      }
      &-date {
        background: rgba($color: #ffffff, $alpha: 0.3);
        border-radius: 50px;
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        padding: 2px 4px;
        margin-right: 10px;
        color: #fff;
      }
      &-loc {
        font-size: 14px;
        line-height: 140%;
        color: #fff;
        span {
        }
      }
    }
  }
  &__poi {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__none {
    &-title {
      font-weight: 500;
      font-size: 13px;
      line-height: 110%;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  &__top {
    &-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background: #ffffff;
      margin-bottom: 20px;
      border-radius: 5px;
      &-left {
        display: flex;
        align-items: center;
      }
      &-img {
        min-width: 30px;
        min-height: 30px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 10px;
      }
      &-text {
        font-weight: normal;
        color: #7c7474;
        width: 100%;
        &::placeholder {
          font-weight: normal;
          font-size: 13px;
          line-height: 140%;
        }
      }
      &-right {
        display: flex;
      }
    }
    &-fdf {
    }
  }
  &__pets {
    &-ln {
      position: relative;
      margin-left: 16px;
      transition: 0.3s;
      p {
        position: relative;
      }
      &-arr {
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: -20px;
        // background-color: rgb(0, 0, 0);
      }
    }
    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;

      &-logo {
        margin-right: 10px;
        &-inner {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &-flag {
        display: flex;
        svg {
          border-radius: 2px;
        }
      }
      &-right {
        display: flex;
        align-items: center;
        justify-content: center;
        &-like {
          margin-right: 10px;
        }
      }
    }
  }
  &__media {
    &-inner {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
      flex-wrap: wrap;
    }
    .fr__media-inn .active {
      margin-left: 29px;
    }
    &-ln {
      &.active {
        margin-left: 20px;
      }
      &-inn {
        display: flex;
        align-items: center;
        margin-right: 20px;
        transition: 0.3s;
      }
    }

    &-el {
      position: relative;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      width: 202.5px;
      height: 202.5px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      &:nth-child(4n) {
        margin-right: 0;
      }
      &:hover {
        .fr__media-el-play {
          circle {
            opacity: 1;
          }
        }
        .fr__media-el-cont {
          background-color: rgba($color: #000000, $alpha: 0.1);
        }
      }
      &-cont {
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
        transition: 0.3s;
      }
      &-play {
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        display: flex;
        cursor: pointer;
        circle {
          transition: 0.3s;
        }
      }
      &-time {
        position: absolute;
        right: 10px;
        bottom: 10px;
        background: rgba(#3f4548, 0.7);
        border-radius: 5px;
        font-size: 11px;
        line-height: 110%;
        color: #fff;
        padding: 6px;
      }
      &-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 10px;
        bottom: 10px;
      }
      &-text {
        white-space: nowrap;
        font-size: 13px;
        line-height: 120%;
        color: #fff;
        max-width: 170px;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 5px;
      }
      &-num {
        font-size: 13px;
        line-height: 120%;
        color: #fff;
      }
    }
  }
  &__select {
    min-width: 170px;
    margin-right: 10px !important;
  }
  &__post {
    &-item {
      min-height: 337px;
      max-width: 270px;
      width: 100%;
      margin-right: 15px;
      margin-bottom: 30px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &-img {
        border-radius: 5px;
        width: 100%;
        height: 190px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        margin-bottom: 10px;
      }
      &-underImg {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 147px;
      }
      &-like {
        position: absolute;
        background: rgba($color: #fff, $alpha: 0.7);
        border-radius: 5px;
        padding: 5px;
        top: 10px;
        right: 10px;
        display: flex;
        cursor: pointer;
      }
      &-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 110%;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      &-name {
        color: #7c7474;
        margin-bottom: 10px;
        cursor: pointer;
        max-width: 260px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover {
          text-decoration: underline;
        }
      }
      &-text {
        cursor: pointer;
        color: #4d99df;
        font-weight: 500;
        font-size: 13px;
        line-height: 110%;
        margin-bottom: 20px;
        max-width: 260px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-date {
        color: #7c7474;
      }
      &-date-eye {
        color: #7c7474;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-right: 30px;
        p {
          color: #7c7474;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          svg {
            margin-right: 5px;
          }
        }
      }
      &-price,
      &-booking {
        font-weight: 600;
        font-size: 18px;
        line-height: 110%;

        span {
          text-decoration-line: line-through;
          color: #7c7474;
          font-weight: 500;
          font-size: 13px;
          line-height: 110%;
          margin-left: 10px;
        }
      }
      &-booking {
        span {
          margin-left: 5px;
          text-decoration-line: none;
        }
      }
    }
  }
}

.fr__main {
  .main {
    max-width: 880px;
    margin-left: 20px;
    width: 100%;

    &__post {
      // border-radius: 5px;
      border-radius: 0 0 5px 5px;
      background-color: #fff;
      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
      }
      &-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        &-img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: #b6b6b6;
          margin-right: 10px;
        }
        &-texts {
          p {
            margin-bottom: 5px;
            font-size: 14px;
            line-height: 110%;
            font-weight: 500;
          }
          span {
            font-weight: 500;
            font-size: 12px;
            line-height: 110%;
            display: block;
            color: #adadad;
          }
        }
      }
      &-dots {
        cursor: pointer;
        padding: 10px;
        margin: -10px;
        img {
        }
      }
      &-title {
        padding: 0 20px;
        font-size: 13px;
        line-height: 140%;
        padding-bottom: 10px;
      }
      &-media {
        height: 500px;
        background-color: #b6b6b6;
      }
      &-subtitle {
        font-weight: 500;
        font-size: 13px;
        line-height: 120%;
        padding: 10px 20px 20px 20px;
      }
      &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        margin: 0 20px;
        border-top: 1px solid #f2f2f2;
      }
      &-comm {
        display: flex;
        align-items: center;
        justify-content: center;
        &-l {
          cursor: pointer;
          margin-right: 40px;
          img {
          }
        }
        &-r {
          cursor: pointer;
          img {
          }
        }
      }
      &-share {
        cursor: pointer;
        img {
        }
      }
    }
  }
}

.f_list__inn-soc-small {
  &:hover {
    &::after {
      opacity: 1;
      z-index: 1;
      transition: 0.4s;
    }
    b {
      opacity: 1;
      z-index: 1;
    }
  }
  &::after {
    top: -18px;
    // opacity: 1;
    left: 12px;
  }
  b {
    top: -40px;
    // opacity: 1;
    left: -47px;
    span {
      border-radius: 5px;
      padding: 7px 10px;
      font-size: 12px;
    }
  }
}
.disLn {
  pointer-events: none;
}
