.f_list {
  background-color: #fff;
  padding: 0 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  &__header {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 20px;
    &-add {
      margin-right: 0 !important;
    }
    &-sort {
      display: flex;
      align-items: center;
      margin-left: 10px;
      justify-content: center;
      &-item {
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        &:nth-child(1) {
          margin-right: 10px;
        }
      }
    }

    &-left {
      &::after {
        display: none;
      }
      p {
        color: #7c7474 !important;
      }
      &-active {
        p {
          color: #3f4548 !important;
        }
      }
      b {
        content: '';
        position: absolute;
        background: #669774;
        border-radius: 4px;
        height: 5px;
        width: 100%;
        bottom: -11px;
        left: 0;
      }
    }
    &-middle {
      display: flex;
      align-items: center;
      justify-content: center;
      &-inn {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        span {
          padding: 3px 5px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 100%;
          background: #eb5757;
          border-radius: 5px;
          margin-right: 5px;
          color: #fff;
        }
        p {
          font-size: 13px;
          position: relative;
          line-height: 120%;
          color: #7c7474;
          b {
            content: '';
            position: absolute;
            background: #669774;
            border-radius: 4px;
            height: 5px;
            width: 100%;
            bottom: -18px;
            left: 0;
          }
        }
      }
      &-req {
        margin: 0 8px;
        padding: 6.5px 10px;
        border-left: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
        color: #adadad;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
        line-height: 120%;
      }
      &-out {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        span {
          padding: 3px 5px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 100%;
          background: #7c7474;
          border-radius: 5px;
          margin-left: 5px;
          color: #fff;
        }
        p {
          font-size: 13px;
          position: relative;
          color: #7c7474;
          line-height: 120%;
          b {
            content: '';
            position: absolute;
            background: #669774;
            border-radius: 4px;
            height: 5px;
            width: 100%;
            bottom: -18px;
            left: 0;
          }
        }
      }
    }
    &-right {
      min-width: 216px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &-btn {
      cursor: pointer;
      font-size: 12px;
      line-height: 110%;
      color: #fff;
      background: #5574b0;
      border-radius: 5px;
      padding: 8px 15px;
      &-op {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__more {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      padding: 8px 15px;
      display: block;
      font-size: 13px;
      line-height: 120%;
      text-align: center;
      cursor: pointer;
      background-color: transparent;
      border-radius: 5px;
      transition: 0.3s;
      &:hover {
        background-color: #f5f4f2;
      }
    }
  }
}
.f_list {
  &__items {
    padding-bottom: 20px;
    border: none;
    &-sroke {
      border-bottom: 1px solid #f2f2f2;
    }
  }
  &__none {
    padding: 15px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-title {
      font-size: 22px;
      line-height: 140%;
      margin-bottom: 30px;
    }
    &-btn {
      background: #669774;
      border-radius: 5px;
      padding: 8px 15px;
      font-size: 12px;
      line-height: 110%;
      color: #fff;
    }
  }
  &__inn {
    &-bottom {
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &-all {
        color: #7c7474;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
        margin-right: 20px;
        line-height: 120%;
      }
      &-add {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #669774;
        color: #fff;
        margin-right: 10px;
      }
      &-subs {
        background: #7c7474;
        color: #fff;
        margin-right: 10px;
      }
    }
    &-btns {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-plus {
      border: 1px solid #669774;
      color: #669774;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      svg {
        margin-right: 5px;
      }
    }
    &-subs {
      background: #f2f2f2;
      color: #7c7474;
      margin-right: 10px;
    }
    &-del {
      cursor: pointer;
      display: flex;
      position: relative;

      &:hover {
        &::after {
          opacity: 1;
          z-index: 1;
          transition: 0.4s;
        }
        b {
          opacity: 1;
          z-index: 1;
        }
      }
      &::after {
        pointer-events: none;
        transition: 0.4s;
        opacity: 0;
        z-index: 0;
        content: '';
        position: absolute;
        transform: rotate(45deg);
        border-bottom: 5px solid rgb(255, 255, 255);
        border-right: 5px solid rgb(255, 255, 255);
        width: 7px;
        height: 7px;
        top: -14px;
        left: 9px;
      }
      b {
        pointer-events: none;
        position: absolute;
        top: -41px;
        transition: 0.4s;
        left: -50px;
        opacity: 0;
        z-index: 0;
        width: 125px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-weight: 500;
          white-space: nowrap;
          border-radius: 5px;
          padding: 7px 10px;
          background-color: #fff;
          display: block;
          font-size: 12px;
          filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.16));
        }
      }
      &-op {
        svg {
          opacity: 0.6;
        }
      }
    }
    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 30px;
      cursor: pointer;
      font-weight: 600;
      font-size: 12px;
      line-height: 110%;
      padding: 8px 10px;
      border-radius: 5px;
      svg {
        margin-right: 5px;
      }
    }
  }
  &__out {
    &-bottom {
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &-all {
        color: #7c7474;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
        margin-right: 20px;
        line-height: 120%;
      }
      &-add {
        background-color: #7c7474;
        color: #fff;
        margin-right: 10px;
      }
      &-subs {
        background: #5574b0;
        color: #fff;
        margin-right: 10px;
      }
    }
    &-btns {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-plus {
      border: 1px solid #7c7474;
      color: #7c7474;
      margin-right: 10px;
    }
    &-subs {
      // background: #5574b0;
      color: #5574b0;
      border: 1px solid #5574b0;
      margin-right: 10px;
    }
    &-del {
      cursor: pointer;
      display: flex;
      position: relative;

      &:hover {
        &::after {
          opacity: 1;
          z-index: 1;
          transition: 0.4s;
        }
        b {
          opacity: 1;
          z-index: 1;
        }
      }
      &::after {
        pointer-events: none;
        transition: 0.4s;
        opacity: 0;
        z-index: 0;
        content: '';
        position: absolute;
        transform: rotate(45deg);
        border-bottom: 5px solid rgb(255, 255, 255);
        border-right: 5px solid rgb(255, 255, 255);
        width: 7px;
        height: 7px;
        top: -14px;
        left: 9px;
      }
      b {
        pointer-events: none;
        position: absolute;
        top: -41px;
        transition: 0.4s;
        left: -50px;
        opacity: 0;
        z-index: 0;
        width: 125px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-weight: 500;
          white-space: nowrap;
          border-radius: 5px;
          padding: 7px 10px;
          background-color: #fff;
          display: block;
          font-size: 12px;
          filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.16));
        }
      }
      &-op {
        svg {
          opacity: 0.6;
        }
      }
    }
    &-btn {
      max-height: 30px;
      cursor: pointer;
      font-weight: 600;
      font-size: 12px;
      line-height: 110%;
      padding: 8px 10px;
      border-radius: 5px;
    }
  }
}
