.header {
  padding: 10px 0px 0 0;
  margin-bottom: 20px;
  max-height: 68px;
  background-color: rgba($color: #3f4548, $alpha: 0.3);
  // background: transparent;
  backdrop-filter: blur(15px);
  padding-top: 10px;
  z-index: 5;
  width: 100%;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    width: 100%;
  }

  &__container {
    margin: 0 auto;
    // max-width: 1180px;
    max-width: 1180px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__title {
    margin-top: 3px;
    font-weight: 900;
    font-size: 36px;
    line-height: 110%;
    transition: 0.4s;
    // margin-left: -25px;
    margin-right: 41px;
    color: rgba($color: #fff, $alpha: 0.3);
  }
  &__logo {
    width: 70px;
    height: 70px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
    // margin-right: 56px;
    // margin-top: 10px;
    &:hover {
      opacity: 0.8;
      box-shadow: 0px 3px 4px rgba(250, 250, 250, 0.25);
    }
    &-inner {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }
  &__items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 880px;
  }
  &__item {
    margin-right: 1px;
    width: 102px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    background: rgba($color: #fff, $alpha: 0.22);
    border-radius: 5px;
    &-img {
      margin-top: 10px;
    }
    &.header__active {
      height: 55px;
      .header__item-title {
        padding-bottom: 1px;
        opacity: 1;
        font-size: 13px;
        span {
        }
      }
    }
    &-1.header__active {
      background-color: #7c7474;
    }
    &-2.header__active {
      background-color: #669774;
    }
    &-3.header__active {
      background-color: #5574b0;
    }
    &-4.header__active {
      background-color: #608aa1;
    }
    &-5.header__active {
      background-color: #e5925b;
    }
    &-6.header__active {
      background-color: #d89342;
    }
    &-7.header__active {
      background-color: #e5635b;
    }
    &-8.header__active {
      background-color: #b28d75;
    }
    &-9.header__active {
      background-color: #fff;
      .header__item-img {
        img {
          display: none;
          &:nth-last-child(1) {
            display: block !important;
          }
        }
        margin-top: 10px;
      }
    }

    &:hover {
      height: 55px;
      .header__item-title {
        padding-bottom: 1px;
        opacity: 1;
        font-size: 13px;
      }
      .header__item-ln {
        height: 55px;
        z-index: 5;
      }
    }
    &:nth-last-child(1) {
      margin-left: 9px;
      margin-right: 0;
      width: 47px;
      height: 47px;
      .header__item {
        background-color: #fff;
        left: 14.5px;
        &-ln {
          height: 47px;
        }
      }
      &:hover {
      }
    }
    &-ln {
      height: 100%;
      width: 100%;
      position: absolute;
      display: block;
      background-image: none !important;
      background-repeat: no-repeat;
      background-size: 27px;
      background-position: center top 8px;
    }
    &-title {
      position: absolute;
      width: 100%;
      bottom: 3px;
      transition: 0.2s;
      left: 0;
      height: 16px;
      opacity: 0;
      text-align: center;
      span {
        font-weight: 500;
        font-size: 13px;
        line-height: 110%;
        color: #fff;
      }
    }
  }
}
