.pr {
  &__header {
    padding-bottom: 12px !important;
  }
  &__news {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #f2f2f2;
      margin-bottom: 0;
      background-color: #fff;
      padding: 13px 0px 10px;
      margin: 0 20px;
      &-inn {
        background-color: #fff;
        border-radius: 5px 5px 0 0;
      }
    }
    &-search {
      cursor: pointer;
      padding: 5px;
      margin: -5px;
    }
  }
  &__my {
    &-edit {
      max-width: 540px;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
      &-st {
        align-items: flex-start;
        .pr__my-item-title {
          margin-top: 12px;
        }
      }
      &-title {
        font-size: 14px;
        line-height: 110%;
        margin-right: 20px;
        max-width: 150px;
        min-width: 150px;
      }
      &-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
      &-input,
      &-textarea {
        width: 100%;
        height: 40px;
        border: 1px solid #e3e3e3;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;
      }
      &-textarea {
        height: 100px;
      }
      &-select {
        background-color: #fff;
        border-radius: 5px;
        width: 100%;
        position: relative;
        &-sm {
          max-height: 30px;
        }
        &-sm-mr {
          max-height: 30px;
          min-width: 170px;
          margin-right: 10px;
          .pr__my-item-select-body {
            height: 30px;
          }
        }
        &-text {
          font-size: 12px;
          line-height: 110%;
        }
        &-click {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          min-width: 20px;
          padding: 13px;
          margin: -13px;
          cursor: pointer;
        }
        &-top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          svg {
            margin-right: 5px;
          }
        }
        &-body {
          padding: 10px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 40px;
          border: 1px solid #e3e3e3;
          box-sizing: border-box;
          border-radius: 5px;
          svg {
            cursor: pointer;
            margin-right: 0px;
          }
        }
        &-input {
          width: 100%;
        }
        &-list {
          background-color: #fff;
          position: absolute;
          z-index: 4;
          left: 0;
          top: 40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: auto;
          width: 100%;
          transition: 0.3s;
          max-height: 152px;
          margin: 0;
          overflow-y: hidden;
          overflow-y: auto;
          overflow-x: hidden;
          -webkit-overflow-scrolling: touch;
          -moz-overflow-scrolling: touch;
          -ms-overflow-scrolling: touch;
          -o-overflow-scrolling: touch;
          overflow-scrolling: touch;
          &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
          }
          &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
          }
          &-icon {
            left: 30px;
            width: calc(100% - 32px);
          }
          &.hide {
            opacity: 0;
            z-index: -1;
          }
        }

        &-option {
          display: flex;
          align-items: center;
          height: 30px;
          width: 100%;
          color: #7c7474;
          font-weight: 500;
          border-radius: 1px;
          padding: 9px 10px;
          transition: 0.3s;
          white-space: nowrap;
          // overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
            background: rgba($color: #adadad, $alpha: 0.2);
            color: #3f4548;
          }
        }
      }
    }
    &-wrap {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      &-col {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  &__cur {
    cursor: pointer;
  }
  &__btn-edit {
    font-size: 12px;
    line-height: 110%;
    padding: 8px 15px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
  }
  &__personal {
    background-color: #fff;
    padding: 0 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 0 0 5px 5px;
    display: flex;
    &-img-inn {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.4);
    }

    &-left {
      position: sticky;
      max-width: 280px;
      margin-right: 20px;
      width: 100%;

      &-inn {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
        background: #ffffff;
        box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
      }
      &-photo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 270px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 15px;
        svg {
          background: rgba($color: #3f4548, $alpha: 0.6);
          padding: 2px;
          border-radius: 3px;
          position: absolute;
          top: 12px;
          right: 12px;
          cursor: pointer;
          z-index: 2;
        }
        div {
          opacity: 0;
          pointer-events: none;
          transition: 0.3s;
        }
        &:hover {
          div {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
      &-item {
        margin-bottom: 15px;
        &-title {
          font-size: 14px;
          line-height: 110%;
          margin-bottom: 10px;
        }
        &-check {
          display: flex;
          align-items: center;
          justify-content: center;
          &:nth-child(1) {
            margin-right: 30px;
          }
          &-inn {
            display: flex;
          }
          input[type='radio'] {
            display: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 5px;
          }
          input:checked {
            background: #7c7474;
          }
          input[type='radio']:checked + label:before {
            background: #7c7474;
            border: 1px solid #adadad;
          }
          label {
            position: relative;
            padding-left: 25px;
            cursor: pointer;
            &::before {
              content: '';
              background: #f5f4f2;
              border: 1px solid #adadad;
              display: inline-block;
              position: absolute;
              left: 0;
              bottom: 0px;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              margin-right: 5px;
            }
          }
        }
      }
      &-input {
        border: 1px solid #e3e3e3;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px;
        height: 40px;
        font-size: 13px;
        line-height: 140%;
        width: 100%;
      }
      &-check {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        input {
          width: 20px;
          height: 20px;
          border: 1px solid #e3e3e3;
          box-sizing: border-box;
          border-radius: 3px;
          margin-right: 10px;
          cursor: pointer;
        }
        label {
          cursor: pointer;
          font-weight: normal;
          font-size: 14px;
          line-height: 140%;
          color: #7c7474;
        }
      }
      &-exit {
        background: #e3e3e3;
        border-radius: 5px;
        width: 100%;
        padding: 8px 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        transition: 0.3s;

        &:hover {
          background: rgba($color: #e3e3e3, $alpha: 0.6);
        }
        svg {
          margin-left: 5px;
        }
      }
    }
    &-right {
      width: 100%;
      &-bg {
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 140px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 20px;
        div {
          opacity: 0;
          pointer-events: none;
          transition: 0.3s;
        }
        &:hover {
          div {
            opacity: 1;
            pointer-events: all;
          }
        }
        svg {
          background: rgba($color: #3f4548, $alpha: 0.6);
          padding: 2px;
          border-radius: 3px;
          position: absolute;
          top: 12px;
          right: 12px;
          cursor: pointer;
          z-index: 2;
        }
      }
    }
  }
  &__privacy {
    &-block {
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      margin-bottom: 20px;
      &-fr {
        padding-top: 0;
        margin-top: -20px;
      }
      &-bottom {
        margin-top: -10px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        align-items: center;
      }
      &-header {
        padding-bottom: 20px;
        border-bottom: 1px solid #f2f2f2;
        margin-bottom: 20px;
        p {
          font-weight: 800;
          font-size: 12px;
          line-height: 120%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
        }
      }
      &-items {
      }
    }
    &-item {
      // height: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 13px;
      line-height: 110%;
      &-left {
        display: flex;
        align-items: center;
      }
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
      p {
        width: 300px;
        font-weight: 500;
        margin-right: 20px;
      }
      span {
        font-weight: 500;
        color: #7c7474;
      }
      &-flip {
        // width: 17px;
        // height: 17px;
        position: relative;
        &-item {
          background: #e57373;
          border-radius: 5px;
          width: 17px;
          height: 17px;
          cursor: pointer;
        }
        &-inn {
          position: absolute;
          // bottom: 0;
          top: 35px;
          left: -92px;
          transition: 0.3s;
          width: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 5;
        }
        &-options {
          width: 100%;
          padding: 10px 0;
          position: relative;
          background: #ffffff;
          border-radius: 5px;
          box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.16);
          transition: 0.3s;
          &.none {
            opacity: 0;
            pointer-events: none;
            z-index: -10;
            display: none;
          }
          &::before {
            position: absolute;
            content: '';
            top: -16px;
            left: calc(50% - 8px);
            border: 8px solid transparent;
            border-bottom: 8px solid rgb(255, 255, 255);
          }
        }
        &-option {
          padding: 8px 10px;
          height: 30px;
          display: flex;
          align-items: center;
          border-radius: 1px;
          font-weight: 500;
          color: #7c7474;
          transition: 0.3s;
          cursor: pointer;
          &:hover {
            color: #3f4548;
            background: rgba($color: #adadad, $alpha: 0.2);
          }
        }
      }
    }
    &-text {
      margin-right: 30px;
      font-weight: 500;
      font-size: 13px;
      line-height: 110%;
    }
    &-see {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #669774;
      margin-right: 30px;
      cursor: pointer;
      &:nth-last-child(1) {
        margin-right: 0px;
      }
      svg {
        margin-left: 5px;
      }
    }
  }
  &__ln-transition {
    opacity: 1 !important;
  }
}
