.main-container{
    width: calc(100% - 300px);
    max-width: 880px;
    padding: 15px 20px 20px;
    border-radius: 5px;
    background-color: #fff;
}


.f-info{
    &__header{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #F2F2F2;
        margin-bottom: 20px;
    }
    &__svg{
        line-height: 1;
        margin-right: 10px;
    }
    &__title{
        color: #3F4548;
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.2;
    }
    &__item{
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    &__item:last-child{
        margin-bottom: 0px;
    }
    &__item-left{
        width: 150px;
        margin-right: 20px;
        font-size: 14px;
        line-height: 1.1;
        color: #7C7474;
        font-weight: 600;
    }
    &__item-right{
        width: calc(100% - 150px - 20px);
        line-height: 1;
        &__text{
            font-weight: 600;
            font-size: 14px;
            line-height: 1.1;
            color: #3F4548;
            text-decoration: none;
        }
        &__hobby{
            font-size: 12px;
            line-height: 1.1;
            font-weight: 600;
            color: #7C7474;
            display: inline-block;
            background-color: #F5F4F2;
            border-radius: 5px;
            margin-right: 4px;
            margin-bottom: 4px;
            padding: 8px 10px;
        }
        &__hobby:last-child{
            margin-right: 0px;
        }
        &__lang{
            display: inline-block;
            margin-right: 20px;
            padding-left: 25px;
            background-position: left;
            background-repeat: no-repeat;
            background-size: contain;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
        }
        &__lang:last-child{
            margin-right: 0px;
        }
        &__text-n{
            color: #3F4548;
            font-size: 14px;
            line-height: 1.4;
        }
        &__social{
            width: 30px;
            height: 30px;
            display: inline-block;
            margin-right: 20px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
        }
        &__social:last-child{
            margin-right: 0px;
        }
    }
}



.ai-center{
    align-items: center;
}