.g_Off {
  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // .g__item-group:nth-last-child(2),
    .g__item-group:nth-last-child(1) {
      margin-bottom: 30px;
    }
  }
  &__bottom {
    padding-top: 20px;
  }
  &__item {
    max-width: 410px;
    margin-right: 20px;
    width: 100%;
    align-items: flex-end;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &-text {
      h4 {
        span {
          max-width: 200px;
        }
      }
    }
  }
}
