.f_search {
  &__container {
    padding: 0 20px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 5px;
  }
  &__header {
    background-color: #fff;
    &-left {
      &:after {
        display: none;
      }
    }
  }
  &__r-form {
    svg {
      position: absolute;
      left: 8px;
      top: 9px;
    }
    position: relative;
  }
}
