// .bar__ln {
//   &:nth-last-child(1) {
//     .bar__ln-active {
//       border-radius: 0px 0px 0px 5px;
//     }
//   }
// }
.bar {
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  &__groups {
    margin-bottom: 20px;
  }
  &__container {
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #d3d3d3;
    border-top: none;
    border-radius: 5px;
  }
  &__fr {
    pointer-events: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 110%;
    text-align: center;
    width: 100.7%;
    height: 100%;
    border-radius: 4px;
    padding: 15px 0;
    color: #fff;
    background-color: #669774;
    transition: 0.5s;
  }
  &__ln {
    cursor: pointer;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 15px;
    position: relative;
    &-dis {
      transition: 0.3s;
      transition: 0.3s;
      height: 100%;
      content: '';
      width: 5px;
      background-color: #669774;
      position: absolute;
      left: -1px;
      top: 0;
      opacity: 0;
    }
    &-line {
      transition: 0.3s;
    }
    &-active {
      transition: 0.3s;
      height: 100%;
      content: '';
      width: 5px;
      background-color: #669774;
      position: absolute;
      left: -1px;
      opacity: 1;
      top: 0;
    }
    &:nth-last-child(1) {
      .bar__ln-active {
        border-radius: 0px 0px 0px 5px;
      }
    }
    &:nth-child(2) {
      .bar__ln-active {
        height: 108%;
        top: -4px;
      }
    }

    &.bar__active {
      transition: 0.3s;
      background-color: #f2f2f2;
      // &::before {
      //   height: 100%;
      //   content: '';
      //   width: 5px;
      //   background-color: #669774;
      //   position: absolute;
      //   left: -1px;
      //   top: 0;
      // }
    }
    &-ln {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    &:nth-last-child(1) {
      border-radius: 0 0 4px 4px;
    }
    &:hover {
      background-color: #f9f9f9;
    }
    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-img {
      width: 27px;
      height: 27px;
      margin-right: 10px;
      img {
      }
    }
    &-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 110%;
    }
    &-info {
      color: #7c7474;
      &-new {
        color: #e5635b;
      }
      &-ls {
      }
    }
  }
  &__about {
    padding-top: 10px;
    margin-top: 60px;
    border-top: 1px solid #d3d3d3;
    &-lns {
    }
    &-ln {
      color: #828282;
      margin-right: 15px;
      margin-bottom: 10px;
      display: inline-block;
      font-weight: 500;
      font-size: 12px;
      line-height: 110%;
    }
  }
}
