.logo__static {
  z-index: 6;
  width: 34px;
  background-color: #fff;
  height: 100%;
  position: fixed;
  left: 90px;
  top: 0;
  svg {
    margin-bottom: 8px;
    transition: 0.3s;
    path {
      transition: 0.3s;
    }
  }
  p {
    padding-right: 2px;
    transition: 0.3s;
    font-weight: 900;
    font-size: 24px;
    line-height: 110%;
    color: #669774;
    // transform: rotate(-90deg);
    transform: rotate(180deg);
    writing-mode: vertical-lr;
  }
}
@media (max-width: 1500px) {
  .logo__static {
    left: 10px;
  }
}
